body {
    background-color: white;
    background-position: 0%;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
     }

.attribution a { 
     color: hsl(228, 45%, 44%);
     position: bottom; }

p { font-size: 15px;
    font-family: Outfit;
    font-weight: bold;
    text-align: center;
    color: darkblue;}

    .directions {
        font-size: 15px;
        font-family: Outfit;
        font-weight: 400;
        text-align: center;
        color:hsl(228, 45%, 44%)
    }
.QR {
    margin: auto;
}